*{
    font-family: 'Poppins', sans-serif;
}

:root{
    --main-bg-color: #00a3b2;
    --header-color: #80a9b1;
    --hover-button: #004f56;
}

//navbar
.navbar{
    .container-fluid{
        .collapse{
                 ul{
                .nav-item{
                    margin-right: 26px;
                    .nav-link{
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
            }
            .d-flex{
                .btn-success{
                    background-color: var(--main-bg-color);
                    border-color: var(--main-bg-color);
                    width: 170px;
                }:hover{
                    background-color: var(--hover-button);
                }
            }
        }
    }
}
// navbar end

//header
.head{
    height: fit-content;
    background-color: var(--header-color);
    overflow: hidden;
    .row{
        .kiri{
            .content{
                h2{
                    font-weight: bold;
                    font-size: 45px;
                    color: #fff;
                    margin-bottom: 40px;
                }
                p{
                    font-weight: regular;
                    font-size: 20px;
                    color: #fff;
                }
                .btn-light{
                    margin-top: 40px;
                    padding: 10px 20px;
                    background-color: var(--main-bg-color);
                    border: 0;
                    color: #fff;
                }a:hover{
                    background-color: var(--hover-button);
                }
            }
        }
        .kanan{
            .img-fluid{
                width: 500px;
                height: 500px;
            }
        }
    }
}
//header end

//section 1
.section-1{
    height: fit-content;
    max-width: 100%;
    .container{
        margin: 60px auto;
        display: flex;
        .row{
            h3{
                font-weight: 700;
                font-size: 35px;
            }
            .btn-light{
                background-color: var(--main-bg-color);
                color: #fff;
            }
        }
        @media screen and (max-width: 992px) {
            .row{
                display: flex;
                flex-direction: column;
            }
            .ratakan, h3, p{
                text-align: center !important;
            }
        }
    }
}
//section 1 end

//section 2
// reason start
.reason {
    margin-top: 100px;
    margin-bottom: 150px;
    .container {
      height: fit-content;
      .title {
        font-weight: 700;
        font-size: 35px;
      }
      .row {
        .col-4 {
          width: 380px;
          height: 420px;
          background-color: #fff;
          border: 2px solid var(--main-bg-color);
          border-radius: 10px;
  
          .pre-title {
            font-weight: 700;
            font-size: 20px;
            line-height: 50px;
          }
          .wrap {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #a5a4a4;
            width: 76px;
            height: 54px;
            margin-top: 18px;
            background-color: var(--head-bg-color);
          }
          .paragraph {
            line-height: 2em;
          }
        }
      }
    }
  }
  // reason end
//section 2 end

//section 3
.section-3{
    .container{
        height: fit-content;
        .row{
            margin: auto 1rem;
            h5{
                font-size: 19px;
            }
            .card-lengkap{
                border: none !important;
            }
        }
    }
}
//section 3 end

//footer
footer{
    margin-top: 90px;
    width: 100%;
    height: fit-content;
    background-color: #80adb6;
    a{
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        font-size: 19px;
    }
}
//footer end

